.profile-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    max-width: 500px; 
  }
  
  .profile-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  .profile-info h4{margin: 0;}
  
  .follow-btn {
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
  }